#testimonialPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 0.5rem;
  margin-top: 0;
  text-align: center;

  font-family: sans-serif;
}

#testimonialPage.content {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-header-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 25px;
  padding: 15px 15px;
}

.page-heading {
  display: flex;
  text-align: center;
  color: #464646;
  font-size: 30px;
  font-weight: bold;
}

.page-subtitle {
  font-weight: bold;
  color: #ed2d34;
  font-size: 60px;
}

.owl-carousel .owl-item img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  width: 70px;
  height: auto;

  border-radius: 50%;
  object-fit: cover;

  margin-top: 25px;
  margin-bottom: 25px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
}

.testimonial-message {
  color: #464646;
  font-size: 20px;
  font-weight: 100;
  margin: 0 0 25px;
  box-sizing: border-box;
  font-weight: 200;
}

.testimonial-name {
  color: #464646;
  font-size: 20px;
}

.icon-quotes {
  font-size: 24px;
  transition: 0.2s;
  cursor: pointer;
  line-height: 1.3;
  margin: 0 auto;
  padding-bottom: 20px;
}

.fas {
  color: #c6c6c6;
  font-weight: 900;
  display: inline;
  font-family: "Font Awesome 5 Free";
}
.pp-tableCell {
  padding-top: 20vh;
}
